IO_LOC  "RGB2[2]" 69;
IO_PORT "RGB2[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "RGB2[1]" 68;
IO_PORT "RGB2[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "RGB2[0]" 57;
IO_PORT "RGB2[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "RGB1[2]" 56;
IO_PORT "RGB1[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "RGB1[1]" 55;
IO_PORT "RGB1[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "RGB1[0]" 54;
IO_PORT "RGB1[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "ADDR[4]" 51;
IO_PORT "ADDR[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "ADDR[3]" 42;
IO_PORT "ADDR[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "ADDR[2]" 41;
IO_PORT "ADDR[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "ADDR[1]" 35;
IO_PORT "ADDR[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "ADDR[0]" 40;
IO_PORT "ADDR[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "LATCH" 30;
IO_PORT "LATCH" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "OE" 29;
IO_PORT "OE" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "clk_out" 33;
IO_PORT "clk_out" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "rst" 4;
IO_PORT "rst" IO_TYPE=LVCMOS18;