IO_LOC  "EXT_CLK" 52;
IO_PORT "EXT_CLK" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "LED_O[0]" 10;
IO_PORT "LED_O[0]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "LED_O[1]" 11;
IO_PORT "LED_O[1]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "LED_O[2]" 13;
IO_PORT "LED_O[2]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "LED_O[3]" 14;
IO_PORT "LED_O[3]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "LED_O[4]" 15;
IO_PORT "LED_O[4]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "LED_O[5]" 16;
IO_PORT "LED_O[5]" DRIVE=8 IO_TYPE=LVCMOS18;
