IO_LOC  "EXT_CLK" 52;
IO_PORT "EXT_CLK" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "LCD_SPI_CS" 36;
IO_PORT "LCD_SPI_CS" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=8;
IO_LOC "LCD_SPI_DC" 39;
IO_PORT "LCD_SPI_DC" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=8;
IO_LOC "LCD_SPI_RST" 25;
IO_PORT "LCD_SPI_RST" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=8;
IO_LOC "LCD_SPI_DIN" 26;
IO_PORT "LCD_SPI_DIN" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=8;
IO_LOC "LCD_SPI_SCLK" 27;
IO_PORT "LCD_SPI_SCLK" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=8;