IO_LOC  "EXT_CLK" 52;
IO_PORT "EXT_CLK" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "BTN_S1" 4;
IO_PORT "BTN_S1" IO_TYPE=LVCMOS18;

IO_LOC  "LED_O[0]" 10;
IO_LOC  "LED_O[1]" 11;
IO_LOC  "LED_O[2]" 13;
IO_LOC  "LED_O[3]" 14;
IO_LOC  "LED_O[4]" 15;
IO_LOC  "LED_O[5]" 16;

IO_LOC  "UART_TX" 17;
IO_PORT "UART_TX" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "UART_RX" 18;
IO_PORT "UART_RX" IO_TYPE=LVCMOS33 PULL_MODE=UP;